<?php $this->load->view('header.html');?>
<?php $user = $this->session->userdata('user');?>

<!-- 加载编辑器的容器 -->
<div class="container">   
    <div class="row"> 
        <div class="col-xs-12 col-sm-12">   
            <br/><br/><br/><br/>
            <p class="fabubiaoti"><strong>发表你的文章</strong><p>
        </div>  
        <form action="<?php echo site_url('article/publish');?>" method="post">
            
        <div class="col-xs-12 col-sm-12">  
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1">标题：</span>
                <input type="text" class="form-control" placeholder="输入文章标题" aria-describedby="sizing-addon1" name="title" />
            </div>
            <br/>
        </div> 
        
        <div class="col-xs-12 col-sm-12">  
            <div class="publishzhaiyao">      
               <textarea name="brief" cols="100" rows="5">请输入文章摘要</textarea>
            </div>
          
                <br/>
              <div class="btn-group">
                      <button class="btn btn-default btn-lg dropdown-toggle btn btn-success" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          文章分类<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                          <li><a href="#">美文美诗</a></li>
                          <li><a href="#">人生格言</a></li>
                          <li><a href="#">浪漫青春</a></li>
                          <li><a href="#">名人轶事</a></li>
                          <li><a href="#">中考高考</a></li>
                          <li><a href="#">职业导向</a></li>
                      </ul>
              </div>
      
            
            <div class="publishtupian1">
                <br/>
                <div class="div1">
                    <div class="div2">上传图片</div>
                    <input type="file" class="inputstyle" name="">                    
                </div>              
                <!-- Large button group -->     
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-12">  
            <br/> 
               
                <script id="container" name="content" type="text/plain">
                <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                </script>
                <div class="fabubtn1">
                   <button type="submit" class="btn btn-info  btn-lg">发布</button>
                </div>
                <input type="hidden" name="user_id" value="<?php echo $user['user_id'];?>" />
                
               <div class="fabubtn">
                <a class="btn btn-info btn-warning btn-lg" href="<?php echo site_url('welcome/publish');?>">重置</a>
               </div>
        </div>
       </form>
    </div>
</div>


<script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');


    function isFocus(e){
        alert(UE.getEditor('editor').isFocus());
        UE.dom.domUtils.preventDefault(e)
    }
    function setblur(e){
        UE.getEditor('editor').blur();
        UE.dom.domUtils.preventDefault(e)
    }
    function insertHtml() {
        var value = prompt('插入html代码', '');
        UE.getEditor('editor').execCommand('insertHtml', value)
    }
    function createEditor() {
        enableBtn();
        UE.getEditor('editor');
    }
    function getAllHtml() {
        alert(UE.getEditor('editor').getAllHtml())
    }
    function getContent() {
        var arr = [];
        arr.push("使用editor.getContent()方法可以获得编辑器的内容");
        arr.push("内容为：");
        arr.push(UE.getEditor('editor').getContent());
        alert(arr.join("\n"));
    }
    function getPlainTxt() {
        var arr = [];
        arr.push("使用editor.getPlainTxt()方法可以获得编辑器的带格式的纯文本内容");
        arr.push("内容为：");
        arr.push(UE.getEditor('editor').getPlainTxt());
        alert(arr.join('\n'))
    }
    function setContent(isAppendTo) {
        var arr = [];
        arr.push("使用editor.setContent('欢迎使用ueditor')方法可以设置编辑器的内容");
        UE.getEditor('editor').setContent('欢迎使用ueditor', isAppendTo);
        alert(arr.join("\n"));
    }
    function setDisabled() {
        UE.getEditor('editor').setDisabled('fullscreen');
        disableBtn("enable");
    }

    function setEnabled() {
        UE.getEditor('editor').setEnabled();
        enableBtn();
    }

    function getText() {
        //当你点击按钮时编辑区域已经失去了焦点，如果直接用getText将不会得到内容，所以要在选回来，然后取得内容
        var range = UE.getEditor('editor').selection.getRange();
        range.select();
        var txt = UE.getEditor('editor').selection.getText();
        alert(txt)
    }

    function getContentTxt() {
        var arr = [];
        arr.push("使用editor.getContentTxt()方法可以获得编辑器的纯文本内容");
        arr.push("编辑器的纯文本内容为：");
        arr.push(UE.getEditor('editor').getContentTxt());
        alert(arr.join("\n"));
    }
    function hasContent() {
        var arr = [];
        arr.push("使用editor.hasContents()方法判断编辑器里是否有内容");
        arr.push("判断结果为：");
        arr.push(UE.getEditor('editor').hasContents());
        alert(arr.join("\n"));
    }
    function setFocus() {
        UE.getEditor('editor').focus();
    }
    function deleteEditor() {
        disableBtn();
        UE.getEditor('editor').destroy();
    }
    function disableBtn(str) {
        var div = document.getElementById('btns');
        var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            if (btn.id == str) {
                UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
            } else {
                btn.setAttribute("disabled", "true");
            }
        }
    }
    function enableBtn() {
        var div = document.getElementById('btns');
        var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
        }
    }
    function getLocalData () {
        alert(UE.getEditor('editor').execCommand( "getlocaldata" ));
    }
    function clearLocalData () {
        UE.getEditor('editor').execCommand( "clearlocaldata" );
        alert("已清空草稿箱")
    }

    var ue = UE.getContent();
        //对编辑器的操作最好在编辑器ready之后再做
        ue.ready(function() {
            //设置编辑器的内容
            ue.setContent('hello');
            //获取html内容，返回: <p>hello</p>
            var html = ue.getContent();
            //获取纯文本内容，返回: hello
            var txt = ue.getContentTxt();
        };
</script>
<?php $this->load->view('footer.html');?>
